[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][14]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
layoutId=
location=3
onPrimary=false
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=1
timerHide=700
timerShow=0
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][14][Applets][348]
immutability=1
plugin=org.kde.plasma.chiliclock

[Containments][14][Applets][348][Configuration]
PreloadWeight=15

[Containments][14][Applets][348][Configuration][Appearance]
customDateFormat=ddd\s
customOffsetX=55.66502463054187
dateFormat=customDate
fixedFont=true
fontFamily=San Francisco Display
fontSize=13
showSeparator=false
use24hFormat=0

[Containments][14][Applets][348][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][354]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][354][Configuration]
PreloadWeight=0

[Containments][14][Applets][354][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][354][Configuration][General]
containmentType=Latte
lengthPixels=1

[Containments][14][Applets][356]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][356][Configuration]
PreloadWeight=0

[Containments][14][Applets][356][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][356][Configuration][General]
containmentType=Latte
lengthPixels=10

[Containments][14][Applets][363]
immutability=1
plugin=org.kde.plasma.volume

[Containments][14][Applets][363][Configuration]
PreloadWeight=30

[Containments][14][Applets][363][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][364]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][14][Applets][364][Configuration]
PreloadWeight=10

[Containments][14][Applets][366]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][14][Applets][366][Configuration]
PreloadWeight=100
SystrayContainmentId=367

[Containments][14][Applets][378]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][378][Configuration]
PreloadWeight=0

[Containments][14][Applets][378][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][378][Configuration][General]
containmentType=Latte
lengthPixels=11

[Containments][14][Applets][416]
immutability=1
plugin=org.communia.apptitle

[Containments][14][Applets][416][Configuration]
PreloadWeight=0

[Containments][14][Applets][416][Configuration][ConfigDialog]
DialogHeight=716
DialogWidth=791

[Containments][14][Applets][416][Configuration][General]
bold=true
noWindowText=
noWindowType=desktopName
textType=1

[Containments][14][Applets][435]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][435][Configuration]
PreloadWeight=0

[Containments][14][Applets][435][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][14][Applets][435][Configuration][General]
containmentType=Latte
lengthPixels=5

[Containments][14][Applets][44]
immutability=1
plugin=org.kde.plasma.appmenu

[Containments][14][Applets][44][Configuration]
PreloadWeight=0

[Containments][14][Applets][44][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][498]
immutability=1
plugin=org.kde.plasma.digitalclocklite

[Containments][14][Applets][498][Configuration]
PreloadWeight=5

[Containments][14][Applets][498][Configuration][Appearance]
use24hFormat=2

[Containments][14][Applets][498][Configuration][ConfigDialog]
DialogHeight=420
DialogWidth=560

[Containments][14][Applets][500]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][500][Configuration]
PreloadWeight=0

[Containments][14][Applets][500][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][500][Configuration][General]
containmentType=Latte
lengthPercentage=5
lengthPixels=10

[Containments][14][Applets][505]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][505][Configuration]
PreloadWeight=0

[Containments][14][Applets][505][Configuration][ConfigDialog]
DialogHeight=420
DialogWidth=560

[Containments][14][Applets][505][Configuration][General]
containmentType=Latte
lengthPixels=10

[Containments][14][Applets][509]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][509][Configuration]
PreloadWeight=0

[Containments][14][Applets][509][Configuration][ConfigDialog]
DialogHeight=420
DialogWidth=560

[Containments][14][Applets][509][Configuration][General]
containmentType=Latte
lengthPixels=10

[Containments][14][Applets][516]
immutability=1
plugin=org.kde.latte.separator

[Containments][14][Applets][516][Configuration]
PreloadWeight=0

[Containments][14][Applets][517]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][517][Configuration]
PreloadWeight=0

[Containments][14][Applets][517][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][517][Configuration][General]
containmentType=Latte
lengthPixels=8

[Containments][14][Applets][519]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][519][Configuration]
PreloadWeight=0

[Containments][14][Applets][519][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][519][Configuration][General]
containmentType=Latte
lengthPixels=8

[Containments][14][Applets][520]
immutability=1
plugin=org.kde.latte.separator

[Containments][14][Applets][520][Configuration]
PreloadWeight=0

[Containments][14][Applets][521]
immutability=1
plugin=org.kde.latte.sidebarbutton

[Containments][14][Applets][521][Configuration]
PreloadWeight=0

[Containments][14][Applets][521][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][521][Configuration][General]
maximumIconSize=16
screenEdge=6

[Containments][14][Applets][522]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][522][Configuration]
PreloadWeight=0

[Containments][14][Applets][522][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][522][Configuration][General]
containmentType=Latte
lengthPixels=10

[Containments][14][Applets][524]
immutability=1
plugin=org.kde.latte.separator

[Containments][14][Applets][524][Configuration]
PreloadWeight=34

[Containments][14][Applets][525]
immutability=1
plugin=org.kde.plasma.virtualdesktopbar

[Containments][14][Applets][525][Configuration]
PreloadWeight=39

[Containments][14][Applets][525][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][525][Configuration][General]
boldLabelForCurrent=true
indicatorStyle=5
labelStyle=0

[Containments][14][Applets][526]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][526][Configuration]
PreloadWeight=34

[Containments][14][Applets][526][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][526][Configuration][General]
containmentType=Latte
lengthPixels=5

[Containments][14][Applets][527]
immutability=1
plugin=org.kde.latte.spacer

[Containments][14][Applets][527][Configuration]
PreloadWeight=34

[Containments][14][Applets][527][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][527][Configuration][General]
containmentType=Latte
lengthPixels=5

[Containments][14][Applets][529]
immutability=1
plugin=fokus

[Containments][14][Applets][529][Configuration]
PreloadWeight=74

[Containments][14][Applets][529][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][531]
immutability=1
plugin=org.kde.plasma.bigSur-inlineBattery

[Containments][14][Applets][531][Configuration]
PreloadWeight=59

[Containments][14][Applets][531][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][Applets][531][Configuration][General]
chargingColor=#10B17F
fontSize=13
iconHeight=13
lowBatteryColor=#CC3554
lowBatteryPercent=25
padding=4

[Containments][14][Applets][534]
immutability=1
plugin=org.kpple.kppleMenu

[Containments][14][Applets][534][Configuration]
PreloadWeight=84

[Containments][14][Applets][534][Configuration][Advanced]
appStoreSettings=pamac-manager
showAdvancedMode=true

[Containments][14][Applets][534][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][14][ConfigDialog]
DialogHeight=944
DialogWidth=509

[Containments][14][Configuration]
PreloadWeight=0

[Containments][14][General]
alignment=10
alignmentUpgraded=true
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
animationsEnabled=false
appletOrder=356;534;416;44;366;509;529;500;364;378;363;517;524;526;525;527;516;505;531;435;498;354;520;519;521;522
dragActiveWindowEnabled=true
durationTime=x3
iconSize=20
inConfigureAppletsMode=true
lengthExtMargin=15
mouseWheelActions=false
panelPosition=10
panelSize=100
panelTransparency=50
shadowOpacity=35
shadowSize=25
shadows=None
shadowsUpgraded=true
splitterPosition=4
splitterPosition2=5
tasksUpgraded=true
titleTooltips=false
zoomLevel=0

[Containments][14][Indicator]
customType=
enabled=false
enabledForApplets=false
padding=0
type=org.kde.latte.default

[Containments][339]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
location=4
onPrimary=false
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=1
timerHide=700
timerShow=300
viewType=0
visibility=2
wallpaperplugin=org.kde.image

[Containments][339][Applets][340]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][339][Applets][340][Configuration]
PreloadWeight=0

[Containments][339][Applets][340][Configuration][General]
isInLatteDock=true
launchers59=applications:systemsettings.desktop,applications:org.manjaro.pamac.manager.desktop,applications:org.kde.dolphin.desktop,applications:org.kde.konsole.desktop,applications:firefox.desktop,applications:mailspring.desktop,applications:telegramdesktop.desktop,applications:code-oss.desktop,applications:android-studio.desktop,applications:idea.desktop,applications:figma-linux.desktop,applications:gimp.desktop,applications:org.inkscape.Inkscape.desktop,applications:blender.desktop,file:///usr/share/applications/discord.desktop
manualScrollTasksType=Disabled
showAudioBadge=false
showOnlyCurrentActivity=false
showProgressBadge=false

[Containments][339][Applets][468]
immutability=1
plugin=org.kde.plasma.kicker

[Containments][339][Applets][468][Configuration]
PreloadWeight=100

[Containments][339][Applets][468][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][339][Applets][468][Configuration][General]
customButtonImage=/home/pinchesyo/Pictures/Start Menu Icons/10Nishikino-Maki-6lCfSC.png
favoritesPortedToKAstats=true
useCustomButtonImage=true

[Containments][339][Applets][488]
immutability=1
plugin=launchpadPlasma

[Containments][339][Applets][488][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][339][Applets][488][Configuration][General]
customButtonImage=app-launcher
favoritesPortedToKAstats=true
useCustomButtonImage=true
useCustomSizeGrid=true

[Containments][339][Applets][494]
immutability=1
plugin=org.kde.latte.spacer

[Containments][339][Applets][494][Configuration]
PreloadWeight=0

[Containments][339][Applets][494][Configuration][ConfigDialog]
DialogHeight=420
DialogWidth=560

[Containments][339][Applets][494][Configuration][General]
containmentType=Latte
lengthPixels=10

[Containments][339][Applets][495]
immutability=1
plugin=org.kde.latte.spacer

[Containments][339][Applets][495][Configuration]
PreloadWeight=0

[Containments][339][Applets][495][Configuration][ConfigDialog]
DialogHeight=420
DialogWidth=560

[Containments][339][Applets][495][Configuration][General]
containmentType=Latte
lengthPixels=10

[Containments][339][ConfigDialog]
DialogHeight=944
DialogWidth=509

[Containments][339][Configuration]
PreloadWeight=0

[Containments][339][General]
alignmentUpgraded=true
appletOrder=494;468;340;495
durationTime=x1
groupTasksByDefault=false
iconSize=33
inConfigureAppletsMode=true
lastWindowsVisibilityMode=6
lengthExtMargin=10
maxLength=70
mouseWheelActions=false
panelSize=100
panelTransparency=40
screenEdgeMargin=9
scrollTasksEnabled=true
shadowOpacity=55
shadowSize=35
shadowsUpgraded=true
showOnlyCurrentActivity=false
showOnlyCurrentDesktop=true
showProgressBadge=false
tasksUpgraded=true
titleTooltips=false
userBlocksColorizingApplets=468
zoomLevel=0

[Containments][339][Indicator]
customType=
enabled=true
enabledForApplets=false
padding=0.07000000029802322
type=org.kde.latte.default

[Containments][339][Indicator][org.kde.latte.default][General]
activeStyle=Dot
glowEnabled=true
glowOpacity=0

[Containments][367]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=10
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][367][Applets][406]
immutability=1
plugin=org.kde.kscreen

[Containments][367][Applets][406][Configuration]
PreloadWeight=0

[Containments][367][Applets][428]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][367][Applets][428][Configuration]
PreloadWeight=0

[Containments][367][Applets][460]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][367][Applets][460][Configuration]
PreloadWeight=0

[Containments][367][Applets][482]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][367][Applets][482][Configuration]
PreloadWeight=32

[Containments][367][Applets][482][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][367][Applets][482][Configuration][General]
popupOnNewDevice=false

[Containments][367][Applets][487]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][367][Applets][487][Configuration]
PreloadWeight=46

[Containments][367][Applets][514]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][367][Applets][514][Configuration]
PreloadWeight=7

[Containments][367][Applets][535]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][367][Applets][535][Configuration]
PreloadWeight=42

[Containments][367][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][367][General]
extraItems=Notificador de Discover_org.kde.DiscoverNotifier,KDE Daemon,org.kde.plasma.nightcolorcontrol,org.kde.plasma.mediacontroller_plus,org.kde.kscreen,org.kde.plasma.clipboard,org.kde.plasma.mediacontroller,org.kde.plasma.vault,org.kde.plasma.devicenotifier,org.kde.plasma.notifications,org.kde.plasma.bluetooth,Update Manager,MSM Notifier for Plasma5
hiddenItems=Notificador de Discover_org.kde.DiscoverNotifier,org.kde.plasma.clipboard,org.kde.plasma.vault,org.kde.kscreen,org.kde.plasma.mediacontroller_plus,org.kde.plasma.devicenotifier,Update Manager
knownItems=org.kde.plasma.keyboardindicator,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.mediacontroller,org.kde.plasma.volume,org.kde.plasma.vault,org.kde.plasma.nightcolorcontrol,org.kde.plasma.clipboard,org.kde.plasma.networkmanagement,org.kde.kdeconnect,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.mediacontroller_plus,org.kde.plasma.printmanager
shownItems=KDE Daemon

[LayoutSettings]
background=
backgroundStyle=0
color=blue
customBackground=
customTextColor=fcfcfc
lastUsedActivity=5a463ec4-3ff2-43c2-a741-9fba796fdc18
launchers=
preferredForShortcutsTouched=true
showInMenu=true
textColor=fcfcfc
version=2

[ScreenMapping]
screenMapping=
